<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgm.mgm01.cashinfo.model.CashDao">
	<!-- User Register Service -->
	<insert id="createCashInfo" parameterType="CashInfoDto">
		insert into cashinfo(breakdown, type, id)
		values (#{breakdown}, #{type}, #{id})
	</insert>
	<select id="readCashInfoById" parameterType="String" resultType="CashInfoDto">
		select * from cashinfo where id=#{id}
		<if test='type != "all"'>
			<if test='type != "ex_ch"'>	
        		and type=#{type}
        	</if>
        	<if test='type == "ex_ch"'>	
        		and type='exchange' or type='charge'
        	</if>
        </if>
		order by date desc
	</select>
	<select id="readCashInfoByRecmd" parameterType="String" resultType="CashInfoDto">
		select c.* from cashinfo c, user u
		where c.id=u.id AND u.recmd_id=#{id}
		<if test='type != "all"'>
            <if test='type != "ex_ch"'>	
        		and c.type=#{type}
        	</if>
        	<if test='type == "ex_ch"'>	
        		and (c.type='exchange' or c.type='charge')
        	</if>
        </if>
         <if test='type == "all"'>
        	and (c.type='exchange' or c.type='charge' or c.type='win')
        </if>
        	group by c.cashinfo_num
		order by  c.cashinfo_num desc
	</select>
	<select id="readCashInfoAll" parameterType="String" resultType="CashInfoDto">
		select * from cashinfo 
		<if test='_parameter != "all"'>
        	<if test='_parameter != "ex_ch"'>	
        		where type=#{_parameter}
        	</if>
        	<if test='_parameter == "ex_ch"'>	
        		where type='exchange' or type='charge'
        	</if>
        </if>
        <if test='_parameter == "all"'>
        	where type='exchange' or type='charge' or type='win'
        </if>
        group by cashinfo_num
		order by cashinfo_num desc
	</select>
	<delete id="deleteCashInfo" parameterType="Integer">
		delete from cashinfo
		where cashinfo_num=#{cashinfo_num}
	</delete>
</mapper>