<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgm.mgm01.user.model.UserDao">
	<!-- User Register Service -->
	<insert id="createUser" parameterType="UserDto">
		insert into user(id, password, nickname, name, phone, b_bankname, b_account, b_username, b_password, recmd_id)
		values (#{id}, #{password}, #{nickname}, #{name}, #{phone}, 
		#{b_bankname}, #{b_account}, #{b_username}, #{b_password}, #{recmd_id})
	</insert>
	<select id="readUser" parameterType="String" resultType="UserDto">
		select * from user where id=#{id}
	</select>
	<insert id="grantAuthority" parameterType="UserDto">
		insert into authorities(id, authority)
		values (#{id}, #{authority})
	</insert>
	<!-- Login Service -->
	<select id="loginUser" parameterType="String" resultType="Map">
		select
		u.id as username, u.password, u.enabled, a.authority, u.nickname, u.b_password
		from user u, authorities a
		where u.id=a.id and u.id=#{username}
		group by u.id
	</select>
	<!-- Delete User -->
	<delete id="deleteUser" parameterType="String">
		delete from user where
		id=#{id}
	</delete>
	
	<!-- Util -->
	<select id="readCash" parameterType="String" resultType="java.math.BigInteger">
		select cash from user where id=#{id}
	</select>
	<update id="updateCash" parameterType="Map">
		update user set cash=#{cash} where id=#{id}
	</update>
	<select id="readB_password" parameterType="String" resultType="String">
		select b_password from user where id=#{id}
	</select>
	<select id="readAllUser" parameterType="Map" resultType="UserDto">
		SELECT u.* FROM user u, authorities a
		WHERE u.id=a.id and a.authority=#{type}
		<if test='master != true'>
            and u.recmd_id=#{admin_id}
        </if>
	</select>
	<select id="readUserForRegister" parameterType="Map" resultType="Integer">
		select count(*) from user where ${type}=#{msg}
	</select>
	
	
</mapper>