/* 

	TableCloth	
	by Alen Grakalic, brought to you by cssglobe.com
	
*/

body{
	background-image: url(/mgm01/resources/images/background_game.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	color: #FAED7D;
	font: 100%, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: large;
	 text-shadow: rgba(0, 0, 0, .2) 3px 3px 3px;
     
}



/* general styles */

.table, .td{
	font:100% Arial, Helvetica, sans-serif;
}
.table{width:60%;border-collapse:collapse;margin:1em 0;}
.th, .td{text-align:center;padding:.5em;border:1px solid #FFBA85;}
.th{background:#AA4E19  repeat-x;color:#FFCC97;}
.td{background:#F29661;}
.div{text-align: left;}
/* tablecloth styles */

.tr.even .td{background:#e5f1f4;}
.tr.odd .td{background:#f8fbfc;}

.th.over, .tr.even .th.over, .tr.odd .th.over{background:#4a98af;}
.th.down, .tr.even .th.down, .tr.odd .th.down{background:#bce774;}
.th.selected, .tr.even .th.selected, .tr.odd .th.selected{}

.td.over, .tr.even .td.over, .tr.odd .td.over{background:#ecfbd4;}
.td.down, .tr.even .td.down, .tr.odd .td.down{background:#bce774;color:#fff;}
.td.selected, .tr.even .td.selected, .tr.odd .td.selected{background:#bce774;color:#555;}

/* use this if you want to apply different styleing to empty table cells*/
.td.empty, .tr.odd .td.empty, .tr.even .td.empty{background:#fff;}